*{
    margin: 0;
    padding: 0;
    border: 0;
}

.aba-red {
    background-color: red; 
    width: 100%;
    height: 500px;
}

#item-central {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}